[project]
	description = Personal Blog
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mike Lloyd (mxplusb)
[access "refs/for/refs/*"]
	read = group user/Mike Lloyd (mxplusb)
	push = group user/Mike Lloyd (mxplusb)
	label-Code-Review = -2..+2 group user/Mike Lloyd (mxplusb)
	label-Verified = -1..+1 group user/Mike Lloyd (mxplusb)
	rebase = group user/Mike Lloyd (mxplusb)
	removeReviewer = group user/Mike Lloyd (mxplusb)
	submit = group user/Mike Lloyd (mxplusb)
[access "refs/heads/*"]
	read = group user/Mike Lloyd (mxplusb)
	create = group user/Mike Lloyd (mxplusb)
	push = +force group user/Mike Lloyd (mxplusb)
	pushMerge = group user/Mike Lloyd (mxplusb)
[access "refs/tags/*"]
	push = group user/Mike Lloyd (mxplusb)
	push = +force group user/Mike Lloyd (mxplusb)
